*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }

 body{
     font-family: cursive;
 }
 .hero{
     height: 100vh; 
     width: 100%;
     background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./image/bg1.jpg);
     background-size: cover;
     background-position:center ;
    background-attachment: fixed;
    
 }
 .logo{
     color:white;
     font-size: 35px;
     letter-spacing: 1px;
     cursor: pointer;
 }
 span{
     color:rgba(9, 159, 185, 0.959);
 }
 .nav{ 
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 30px;
     padding-left: 8%;
     padding-right: 8%;
 }
 
 ul li{
     display: inline-block;
     padding: 10px 30px;
 }
 
 ul li a{
    color:white;
     text-decoration: none;
     font-size: 20px;
     font-weight: bold;
 }
 ul li a:hover{
    color:rgba(9, 159, 185, 0.959);
 }
 .btn{
    background-color: rgba(9, 159, 185, 0.959);
     color:white;
     text-decoration: none;
     border: 2px solid transparent;
     font-weight: 10px;
     padding: 10px 25px;
     border-radius: 30px;
     transition: transform .6s;
 }
 .btn:hover{
     transform: scale(1.1);
 }
 .content{
     position: absolute;
     top: 25%;
     left: 27%;
     color: white;
 }
 .content h1{
     color:white;
     margin: 20px 0 20px 10px;
     font-size: 50px;
     letter-spacing: 1px;
     font-style: italic;
     text-shadow: -5px -5px 1px rgba(9, 159, 185, 0.959);
 }
.content h5{
    color:white;
     font-size: 25px;
     margin-bottom: 30px;
     text-align: center;
      font-style: italic;
     letter-spacing: 1px;    
 }

 .newsletter form{
     width: 400px;
     max-width: 100%;
     position: relative;
     left:80px;
     top:15px;
 }
 .newsletter form input:first-child {
   width: 100%;
   display: inline-block;
   padding: 14px 130px 14px 15px;
   border: 3px solid rgba(9, 159, 185, 0.959);
   border-radius: 30px;
 }
 .newsletter form input:last-child {
     position: absolute;
     display: inline-block;
     border: none;
     border-radius: 30px;
     padding: 10px 30px;
     background-color: rgba(9, 159, 185, 0.959);
     color: white;
     top: 6px;
     right: 6px;
 }

 

.features{
    padding: 100px 0;
}

.features h1{
    text-align: center;
    padding-bottom: 30px;
    font-size:30px;
}

.feature-img img{
    width:87%;
 
}
.feature-box{
    padding-left: 60px;
    width:100%;
    height:100%;
}
.price{
    width: 125px;
    height:100%;
    opacity: 0.75;
    background-color: rgba(9, 159, 185, 0.959);
    color:white;
    font-weight: 600;
    border-radius:10%;
    left:40px;
    padding:2px 7px;
    margin-top: 10px;
    box-shadow: 0 0 7px rgba(9, 159, 185, 0.959);
}
.feature-img{
    position:relative;
}

.feature-details{
    padding:13px 0px;
  
}
.feature-details p{
    padding-bottom: 20px;

}

.book-btn{
    background-color: rgba(9, 159, 185, 0.959);
     color:white;
     text-decoration: none;
     border: 1px solid ;
     font-weight: 10px;
     padding: 5px 25px;
     border-radius: 20px;
     transition: transform .6s;
    
 }
 .book-btn:hover{
     transform: scale(1.1);
 }

 .row{
    display: flex;
    margin-bottom: 40px;
 }

 .more-btn{
     color:rgba(9, 159, 185, 0.959);
     text-decoration: none;
     border: 1px solid transparent;
     font-weight: 10px;
     padding: 5px 25px;
     border-radius: 20px;
     margin: 500px;
     box-shadow: 0 0 20px rgba(9, 159, 185, 0.959);
 }

 .footer{
     padding:10px 20px;
     background-color: rgba(9, 159, 185, 0.959);
     color: #fff;
     
 }
 .footer h4{
    text-align: left;
    margin-top:15px;
    font-size:20px;
    font-weight:bold;
    margin-bottom:8px;
    letter-spacing: 1px;

}

.footer p{
    font-size:18px;
    text-align: justify;
    padding-right: 35px;
    padding-bottom: 6px;
    letter-spacing: 1px;
}


.icons{
    padding-left: 45px;
    padding-top: 2px;
}
.fa-twitter{
    color:skyblue;
    padding-top: 2px;
}
.fa-facebook-f{
    color:rgb(12, 46, 241);
    padding-left:10px;
    padding-top: 2px;
}
.fa-youtube{
    color:red;
    padding-left:10px;
    padding-top: 2px;

}
.fa-linkedin{
    color:blue;
    padding-left:10px;
    padding-top: 2px;

}
.footer-row{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-evenly;

}