*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }
.image{
    height: 100vh; 
    width: 105%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./image/bookbg.jpg);
    font-family: cursive;
     text-decoration: none;
    margin-left: -90px;
    background-size: cover;
    background-position:center ;
   background-attachment: fixed;
   color:white;
   text-shadow: 5px 3px 1px black;
    text-align:left;
}
input,select{
    
    border-color: rgba(9, 159, 185, 0.959);
    border-radius:10px;
    padding:5px;
    margin-bottom:10px;
}
h2{
   
    font-size: 40px;
    text-align: center;
    margin-left: -30px;
    text-shadow: -5px -5px 1px rgba(9, 159, 185, 0.959);

}
label{
    font-size: 20px;
    margin-top:60px;
}
p{
    
    font-size: 20px;
    margin: 5px 0px;
}

form
{
    display: inline-block;
    margin-left: 600px;
    margin-right: auto;
    text-align: left;
}
.btn{
    background-color: rgba(9, 159, 185, 0.959);
    color:white;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 10px 10px;
    font-family: cursive;
    border-radius: 10px;
    transition: transform .6s;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 5px;
}
a {
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    padding: 8px 16px;
    margin-top: 4px;
}
  
  a:hover {
    background-color: #ddd;
    color:white;
  }
  
  
  
  .next {
    background-color:rgba(9, 159, 185, 0.959);
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }